@import url("./normalize.css");

body {
    background-color: #d3d3bb;
    // background-color: rgb(33, 33, 33);
    // background-color: rgb(169, 168, 102);
} 
@font-face {
    font-family: voxabular-font;
    src: url("../src/assets/fonts/BohemianTypewriter.ttf");
}
