
.indexSass {
  background-color: black;
  color: hotpink;
  font-family: monospace;
  font-weight: 600;
  font-size: var(--fs-600);
  text-align: center;
}

.indexsass {
  background-color: goldenrod;
  font-size: 4rem;
}

::placeholder {
  border: 1px solid gray;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr 100px 3in;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  color: var(--fs-color);
}
