.case {
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;

  &__title {
    color: var(--danger);
    font-size: var(--large);
    text-shadow: 2px 2px 1px black;
    text-align: center;
  }
  &__list {
    font-size: var(--fs-500);
    list-style: none;
  }
  &__img-container{
    height: 0;
  }
  &__img-ink {
    position: relative;
    border-radius: 5%;
    transform: rotate(180deg);
    bottom: 10rem;
    left: 40vw;
    width: auto;
    height: calc(var(--large) + 6vw );
  }
}
@media (max-height: 200px){
  .case__list { display: none;}
}
@media (max-height: 300px){
  .case{
    &__title {
      display: none;
    }
  }  
}

li::before {
  content: "(X)  ";
  color: rgb(230, 20, 20);
}