.settings {
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: center;
  gap: var(--medium);

  &__title {
    text-align: center;
    font-size: var(--large);
  }
  &__user {
    font-size: var(--fs-300);
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: clamp(0.1rem, 1.5vh, 3rem);
  }
  &__hints {
    position: absolute;
    z-index: 2;
    height: 0;
    & img {
      max-width: 15rem;
      transform: translateX(-14rem) rotateZ(-100deg);
    }
  }
  &__volume {
    align-self: center;
    margin-bottom: 0.5rem;
  }
  &__erase-footer button:hover {
    background-color: var(--alert);
  }
  @media (max-height: 150px) {
    & {
      display: none;
    }
  }
}
button {
  display: block;
  font-family: voxabular-font;
  font-size: var(--fs-400);
  width: 100%;
  padding: 0.1rem;
  transition: 0.2s;
}
button:hover {
  box-shadow: 0 2px 6px 1px gray;
}
button:active {
  box-shadow: 0 0px 4px 4px white;
  transform: translateY(1px);
}

.volume__range,
.volume__range::-webkit-slider-runnable-track,
.volume__range::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.volume__range::-webkit-slider-thumb {
  background-color: #777;
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -9px;
}
.volume__range::-webkit-slider-runnable-track {
  height: 5px;
  background-color: black;
}
@media (max-width: 300px) {
  .settings {
    &__user {
      display: none;
    }
    &__title {
      display: none;
    }
    &__volume {
      display: none;
    }
  }
}
@media (max-height: 400px) {
  button {
    font-size: var(--fs-300);
  }
  .settings {
    &__user {
      display: none;
    }
    &__title {
      display: none;
    }
    &__volume {
      display: none;
    }
    .volume__range::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      margin-top: -4px;
    }
  }
}
