.suscribe-container { 
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  gap: var(--large-medium);
}
.suscribe__title { 
  text-align: center;
  word-wrap: break-word;
  font-size: var(--large);
}
.suscribe__contact {
  align-self: center;
}
.suscribe__contact-lbl {
  text-align: center;
  font-size: var(--fs-500);
  margin: var(--medium);
}
.suscribe__input {
  font-family: voxabular-font;
  font-size: var(--fs-400);
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  animation-name: lighting;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes lighting {
  50% {
    box-shadow: 0px 0px 8px 6px orange;
  }
  100% {
  }
}
.input:focus,
.input:active {
  box-shadow: none;
  border: none;
  text-decoration: none;
  box-shadow: 0px 0px 8px 6px orange;
}
.suscribe__anchors {
  text-align: center;
  font-size: var(--fs-400);
}

@media screen and (max-width: 280px) {
  .suscribe__title {
    word-wrap: break-word;
    font-size: var(--fs-500);
  }
  * {
    padding: 0 2rem;
  }
}
