.vocabulary {
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;

  &__sign h1 {
    text-align: center;
    font-size: var(--large);
    margin: 0;
    color: rgb(230, 20, 20);
    text-shadow: 2px 2px 1px black;
  }

  &__sign {
    .sign__li {
      text-align: center;
      list-style: none;
      font-size: var(--fs-300);
    }
  }

  &__cards-container {
    display: flex;
    justify-content: space-evenly;
    user-select: none;
  }
}
.c-1 {
  transform: rotateZ(-20deg) translateY(-60px) translateX(-60px);
}
.c-2 {
  transform: rotateZ(10deg);
  filter: sepia(120%);
}
.c-3 {
  transform: rotateZ(20deg) translateX(40px) translateY(-50px);
}

/** Card Element */
.card {
  border: 1px solid black;
  font-family: monospace;
  font-weight: 600;
  word-wrap: break-word;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 4px 2px gray;
  height: clamp(5rem, 13vw, 22rem);
  width: clamp(5rem, 12vw, 20rem);
  padding: 1rem 5px;
  filter: brightness(130%);
  transition: 400ms;
  transform: rotateZ(-10deg);
  &:hover {
    transform: scale(1.5);
    z-index: 3;
  }

  &__img {
    width: 90%;
    height: 60%;
    object-fit: scale-down;
  }
  &__footer {
    box-sizing: border-box;
  }
}
.card__footer p {
  margin: clamp(0.1rem, 0.2rem, 1rem);
}
.card__footer-title {
  border-bottom: 2px solid gray;
  font-size: var(--medium);
}
.card__footer-expresion {
  font-size: var(--extra-small);
}
@media screen and (max-width: 600px) {
  .vocabulary__cards-container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @for $i from 1 to 4 {
    .c-#{$i} {
      transform: translate(0px) rotate(6deg);
    }
  }
}

@media (max-height: 400px) {
  .vocabulary__sign {
    .sign__li {
      column-count: 2;
    }
  }
}

@media (max-height: 300px) {
  .vocabulary {
    &__sign h1 {
      display: none;
    }
  }
}
